<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dao.LendInfoDao">
	
	<resultMap type="org.model.LendInfo" id="testResultMap">
        <!-- id用来配置表的主键与类的属性的映射关系 ,column指定的是表的字段名； property指定的是类的属性名-->
        <id column="id" property="id"/>
        <!-- result用来配置 普通字段与类的属性的映射关系 ,column指定的是表的字段名； property指定的是类的属性名-->
        <result column="reader_id" property="readerId"/>
        <result column="book_id" property="bookId"/>
        <result column="lend_date" property="lendDate"/>
        <result column="return_date" property="returnDate"/>
        <result column="deadline" property="deadLine"/>
        <result column="hascharge" property="hasCharge"/>
  </resultMap>
	
	<insert id="insertLendInfo" parameterType="org.model.LendInfo" useGeneratedKeys="true" keyProperty="id">
	  insert into lend_info (reader_id, book_id, lend_date, deadline, hascharge)
	  values (#{readerId},#{bookId},#{lendDate},#{deadLine},#{hasCharge});
	</insert>
	
	<select id="queryAllByReaderId" resultMap="testResultMap">
		select * from lend_info where reader_id = #{readerId};
	</select>
	
	<select id="queryLendInfoByReaderId" resultMap="testResultMap">
		select * from lend_info where return_date is NULL and reader_id = #{readerId};
	</select>
	
	<select id="queryLateBorrowByReaderId" resultMap="testResultMap">
		select * from lend_info where return_date is not NULL and reader_id = #{readerId};
	</select>
	
	<select id="queryOneLendInfo" resultMap="testResultMap">
		select * from lend_info where return_date is not NULL and reader_id = #{readerId} and book_id = #{bookId};
	</select>
	
</mapper>